/* HTML ELEMENTS */

body {
  color: #4f4f60;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 900;
  line-height: 1.5;
}

h2,
h3 {
  font-weight: 700;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* SECTION COLOR */
.whiteBackground {
  background-color: white;
}

.coloredBackground {
  background-color: #b2c8df;
}

/* HEADINGS */
.mainHeading {
  font-size: 3.5rem;
}

.sectionHeading {
  font-size: 2.5rem;
}

/* NAVBAR */
.navbar {
  padding-bottom: 4.7rem;
}

.navbar .container-fluid {
  padding: 0;
}

.navbar-brand {
  font-size: 2.4rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #4f4f60;
}

.navbar-brand:hover {
  color: #4f4f60;
}

.navbar-brand:focus {
  color: #4f4f60;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-size: 1.2rem;
  color: #8f8f8f;
}

.nav-link:hover {
  color: #4f4f60;
}

/* TITLE */
#title > .container-fluid {
  padding: 2.5rem 12.5rem 5rem;
}

.repairBtn {
  margin: 1.75rem 0;
  background-color: #4f4f60;
  border-color: #4f4f60;
}

.repairIcon {
  margin-right: 0.375rem;
}

.titleTextCol {
  text-align: left;
}

.titleImgCol {
  position: relative;
}

.titleImg {
  transform: rotate(25deg);
  width: 26.5rem;
  position: absolute;
  top: 2rem;
  right: 0;
}

/* FEATURES */
#features {
  position: relative;
  z-index: 1;
}

#features > .container-fluid {
  padding: 8.4rem;
}

.featuresCol {
  padding: 0 1.4rem;
}

.featureIcon {
  color: #c9dcd7;
  font-size: 3.5rem;
}

.featureIcon:hover {
  color: #b2c8df;
}

.featuresHeading {
  font-size: 1.5rem;
  margin: 0.875rem 0;
}

/* TESTIMONIALS */
.carousel-inner {
  padding: 5.9rem 12.5rem 3.4rem;
}

.testimonialText {
  font-size: 2.5rem;
}

.testimonialImg {
  border-radius: 100%;
  width: 5.8rem;
  margin: 1.25rem;
}

/* PRESS */
#press {
  padding-bottom: 4.2rem;
}

.pressLogo {
  width: 10rem;
  margin: 1.25rem;
}

/* PRICING */
#pricing {
  padding: 4.2rem;
}

.pricingCol {
  padding: 2.3rem 1.5rem;
}

.pricingHeading {
  font-size: 1.5rem;
  margin: 0.875rem 0;
}

.pricingText {
  font-size: 2.5rem;
}

.pricingBtn {
  background-color: #4f4f60;
  border-color: #4f4f60;
}

/* CALL TO ACTION */
#cta {
  padding: 5rem 16.9rem 4.2rem;
}

#cta h3 {
  font-size: 2.75rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}

/* FOOTER */
#footer {
  padding: 3.4rem 16.9rem 1.5rem;
}

#footer a {
  color: #4f4f60;
  margin: 0.5rem;
}

#footer p {
  font-size: 0.8rem;
  padding-top: 0.75rem;
}

/* MEDIA QUERIES */
@media (max-width: 1220px) {
  html {
    font-size: 14px;
  }
  .mainHeading {
    font-size: 3.25rem;
  }
  .titleImg {
    width: 23rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 13px;
  }

  .titleTextCol {
    text-align: center;
  }
  .titleImg {
    padding-top: 3.7rem;
    position: static;
    transform: rotate(0);
  }
}

@media (max-width: 767px) {
  html {
    font-size: 10px;
  }

  #pricing {
    padding-left: 15%;
    padding-right: 15%;
  }

  #features .container-fluid,
  .carousel-inner,
  #cta {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 8px;
  }

  #title .container-fluid {
    padding: 3.5% 10% 4.5%;
  }

  #features .container-fluid,
  .carousel-inner,
  #cta,
  #footer {
    padding-left: 9%;
    padding-right: 9%;
  }
}
